*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-bg: #000000;
  --color-text-white: #ffffff;
  --color-text-black: #000000;
  --font-main: "Golos Text", sans-serif;
}
html {
  box-sizing: border-box;
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth !important;
}
body {
  padding: 0;
  background: var(--color-bg);
  color: var(--color-text-white);
  font-family: var(--font-main);
}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}
input {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
label {
  cursor: pointer;
}