.hero {
  padding: 165px 0;
}
.container {
  max-width: 1824px;
  margin: 0 auto;
  padding: 0 20px;
}
/* title */
.hero__title {
  font-size: 120px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.04em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 96px;
}
.hero__title-image {
  display: inline-block;
  height: 0.7em;
  width: 2.7em;
  border-radius: 160px;
  overflow: hidden;
  margin: 0 32px;
}
.hero__title-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 67%;
}
.hero__title-image--small {
  width: 160px;
}
/* button */
.hero__button-wrapper {
  position: relative;
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__button-wrapper::before,
.hero__button-wrapper::after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--light);
  top: 50%;
  width: 100%;
  z-index: 1;
  transform: translateY(-50%);
}
.hero__button-wrapper::before {
  left: 0;
}
.hero__button-wrapper::after {
  right: 0;
}
.hero__button {
  position: relative;
  z-index: 2;
  padding: 24px 48px;
  background: var(--light);
  color: var(--dark);
  font-size: 24px;
  line-height: 1.33333;
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
}

@media (max-width: 1400px) {
  .hero__title {
    font-size: 100px;
    margin-bottom: 80px;
  }
  .hero__title-image {
    margin: 0 28px;
  }
  .hero__title-image img {
    object-position: center;
  }
  .hero__button-wrapper {
    max-width: 1010px;
  }
}
@media (max-width: 1200px) {
  .hero__title {
    margin-bottom: 60px;
  }
  .hero__button-wrapper {
    max-width: 910px;
  }
}
@media (max-width: 992px) {
  .hero {
  padding: 120px 0;
}
  .hero__title {
    font-size: 80px;
  }
  .hero__title-image {
    margin: 0 24px;
  }
  .hero__button {
    font-size: 20px;
  }
  .hero__button-wrapper {
    max-width: 710px;
  }
}
@media (max-width: 740px) {
    .hero {
  padding: 100px 0;
}
  .hero__title {
    font-size: 60px;
    margin-bottom: 40px;
  }
  .hero__title-image {
    margin: 0 14px;
  }
  .hero__button-wrapper {
    max-width: 610px;
  }
  .hero__button {
    padding: 18px 38px;
  }
}
@media (max-width: 576px) {
      .hero {
  padding: 80px 0;
}
  .hero__title {
    font-size: 40px;
    margin-bottom: 28px;
  }
  .hero__title-image {
    margin: 0 10px;
  }
  .hero__button-wrapper {
    max-width: 440px;
  }
  .hero__button {
    padding: 12px 24px;
  }
}
