.hero{
  padding: 165px 0;
}
.container {
  max-width: 1824px;
  margin: 0 auto;
  padding: 0 20px;
}
.hero__title {
  font-size: 120px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.04em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 96px;
}
.hero__title-image {
  display: inline-block;
  height: 0.7em;
  width: 2.7em;
  border-radius: 160px;
  overflow: hidden;
  margin: 0 32px;
}
.hero__title-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 67%;
}
.hero__title-image--small {
  width: 160px;
}




@media (max-width: 1400px){
.hero__title {
  font-size: 100px;
}
.hero__title-image {
  margin: 0 28px;
}
.hero__title-image img {
  object-position: center;
}
}
@media (max-width: 1200px){

}
@media (max-width: 992px){
.hero__title {
  font-size: 80px;
}
.hero__title-image {
  margin: 0 24px;
}
}
@media (max-width: 740px){
.hero__title {
  font-size: 60px;
}
.hero__title-image {
  margin: 0 14px;
}
}
@media (max-width: 576px){
.hero__title {
  font-size: 40px;
}
.hero__title-image {
  margin: 0 10px;
}
}